pandas
numpy
seaborn
matplotlib
plotly
tensorflow
scikit-learn
catboost
xgboost
nbformat
dill

#-e . 

# install stable packages if without -e .

# 1. setup github repository, new environment, and requirements.txt. 
# 2. 