pandas
numpy
seaborn
matplotlib
plotly
tensorflow
scikit-learn
catboost
xgboost
nbformat
dill
# install stable packages if without -e .
#-e . 


#resume: 1. setup github repository, new environment, and requirements.txt. 
# 2. 